.container {
	background: var(--black-1000-400);
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.6rem;

	transition: all 1s;
	&:hover {
		background: var(--black-1000-100);
	}

	.logo {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}

	.menus {
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 10px;
		img {
			border-radius: 50%;
		}
	}
}
